[package]
name = "dependency-refresh"
version = "0.1.5"
authors = ["Jan Murawski <jm@rq-project.net>"]
license = "GPL-3.0-only"
description = "This tool is meant to update rust dependency versions within Cargo.toml files."
repository = "https://github.com/RoffelKartoffel/dependency-refresh"
readme = "README.md"
keywords = ["toml", "dependencies", "Cargo", "update"]

[dependencies]
structopt = "0.2.15"
toml_edit = "0.1.3"
reqwest = "0.9.17"
serde_json = "1.0.39"

[lib]
name = "drlib"
path = "src/lib.rs"

[[bin]]
name = "dr"
path = "src/bin.rs"
